.div-buttoncarosel {
    height: 40px;
    display: flex;
    justify-content: center;
}

.container-button {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.chevron-left {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.chevron-right {
  background-color: #5CB85F;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

